@import "base";


//Skeleton
//-------------------------------------------------------------
.CheckFirstLast(){
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.HasPadding(){
	margin-top: 0;
	margin-bottom: 0;
}

//Horizontal Padding
.HorizPadding(@multiple:8, @desktop:'', @tabLand:'', @tabPort:'', @mobile:'', @colAdjust:true){
	.padding(@multiple, @colAdjust:@colAdjust){
		padding-left: unit(@multiple, vw);
		padding-right: unit(@multiple, vw);
    	& & {
    	    clear: none;
    	    padding-left: 0;
    	    padding-right: 0;
    	}
		& when (@colAdjust = true) {
    		.MG-l-Column:first-child &, .MG-l-Column:first-child& {
    		    padding-right: unit(@multiple*.5, vw);
    		}
    		.MG-l-Column:last-child &, .MG-l-Column:last-child& {
    		    padding-left: unit(@multiple*.5, vw);
    		}
		}
		& when (@colAdjust = false) {
    		.MG-l-Column:first-child &, .MG-l-Column:first-child& {
    		    padding-right: unit(@multiple, vw);
    		}
    		.MG-l-Column:last-child &, .MG-l-Column:last-child& {
    		    padding-left: unit(@multiple, vw);
    		}
		}
	}

	.padding(@multiple);

	& when (@desktop = '') {
		@media screen and (max-width: (@desktop-width + 50)) {
			.padding(@multiple*.5);
		}
	}
	& when not (@desktop = '') {
		@media screen and (max-width: (@desktop-width + 50)) {
			.padding(@desktop);
		}
	}

	& when (@tabLand = '') {
		@media screen and (max-width: (@tabletLandscape-width)) {
			.padding(@multiple*.75, false);
		}
	}
	& when not(@tabLand = '') {
		@media screen and (max-width: (@tabletLandscape-width)) {
			.padding(@tabLand, false);
		}
	}

	& when (@tabPort = '') {
		@media screen and (max-width: (@tabletPortrait-width)) {
			.padding(8, false);
		}
	}
	& when not(@tabPort = '') {
		@media screen and (max-width: (@tabletPortrait-width)) {
			.padding(@tabPort, false);
		}
	}

	& when (@mobile = '') {
		@media screen and (max-width: (@mobile-width)) {
			.padding(@multiple, false);
		}
	}
	& when not(@mobile = '') {
		@media screen and (max-width: (@mobile-width)) {
			.padding(@mobile, false);
		}
	}
}

//Vertical Padding
.VertPadding(@multiple:3){
	margin-top: 0;
	margin-bottom: 0;
	padding-top: unit(@multiple, rem);
	padding-bottom: unit(@multiple, rem);
	.CheckFirstLast;
    & & {
        clear: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}

body {
	background: @nearwhite;
	&.MG-v-Fixed {
		overflow: hidden;
	}
}
.MG-l-Main {
    background: #fff;
    .ClearFix;
    .MG-m-Home & {
    	background: @blue;
    }
}
.MG-l-LayoutConstraint {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: @desktop-width;
    & & {
        clear: none;
        padding-left: 0;
        padding-right: 0;
    }
}
.MG-l-MainBlock {
	margin-top: 4rem;
	margin-bottom: 4rem;
	.CheckFirstLast;
}
.MG-m-Padding {
	.VertPadding;
}
.MG-m-HasPadding {
	.HasPadding;
}

//Column Layouts
.ColumnBg(){
	background-image: url('../images/bg-small-column.gif');
	background-position: top center;
	background-size: 300px;
}

.MG-l-TwoColumn {
	background: #fff;
    .FlexBox(stretch, stretch);
	&:first-child {
		margin-top: 4rem;
	}
	&:last-child {
		margin-bottom: 4rem;
	}
    .MG-l-Column {
        .FlexBasis(50%);
        .FlexBox(flex-start, stretch, column);
    }
    .MG-l-ColumnInner {
        .Flex(1);
        position: relative;
        .BoxSizing;
        .FlexBox(flex-start, stretch, column);
        section {
        	.Flex(1);
       	}
    }
    &.MG-v-SmallRight {
    	.MG-l-Column {
    	    .FlexBasis(76%);
    	    &.MG-v-Minor {
    	    	.FlexBasis(24%);
    	    	.ColumnBg;
        		section {
        			background-color: @nearwhite;
        			&:only-child {
            			.Flex(initial);
       				}
       			}
    	    }
    	}
    }
    &.MG-v-SmallLeft {
    	.MG-l-Column {
    	    .FlexBasis(76%);
    	    &.MG-v-Minor {
    	    	.FlexBasis(24%);
    	    	.ColumnBg;
       			section {
       				background-color: @nearwhite;
        			&:only-child {
            			.Flex(initial);
       				}
       			}
    	    }
    	}
    }

	@media screen and (max-width: @tabletLandscape-width) {
		display: block;
	}
}


//Basic Content
//-------------------------------------------------------------
.MG-m-ContentBlock {
	background: #fff;
	.HorizPadding;
}


//Header
//-------------------------------------------------------------
.MG-m-Header {
	position: relative;
	z-index: 1;
	.MG-l-LayoutConstraint {
		padding-bottom: 10px;
		padding-top: 2rem;
		.HorizPadding;
		.BoxSizing;
		.FlexBox(space-between, flex-end);
	}
}
.MG-m-SiteId {
	.Flex(1);
	margin-bottom: .4rem;
	padding-top: 1rem;
	p {
		display: none;
		font-family: @displayfontstack;
		font-size: .9rem;
		font-weight: bold;
		line-height: .9rem;
		margin: 0;
		text-transform: lowercase;
		.MG-m-Home & {
			display: block;
		}
	}
	.MG-m-Providing {
		color: #fff;
		font-family: @basicfontstack;
		font-size: .65rem;
		font-weight: normal;
		line-height: .85rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}
}
.MG-m-SiteLogo {
	display: block;
	max-width: 200px;
}
.MG-m-MenuTrigger {
	border-radius: 2px;
	display: none;
	height: 18px;
	margin-bottom: 2rem;
	position: relative;
	width: 30px;
	&:before {
		background: @blue;
		border-radius: 2px;
		content: "";
		height: 15%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	&:after {
		background: @blue;
		border-radius: 2px;
		bottom: 0;
		content: "";
		height: 15%;
		left: 0;
		position: absolute;
		width: 100%;
	}
	.MG-m-Home &:before, .MG-m-Home &:after {
		background: #fff;
	}
}
.MG-m-MenuTriggerInner {
	background: @blue;
	border-radius: 2px;
	height: 15%;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 100%;
	.Transform(translate(0,-50%));
	.MG-m-Home & {
		background: #fff;
	}
}

.MG-m-MainNav {
	padding-top: 1rem;
	text-align: center;
	.FlexBasis(100%);
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		&:hover {
			a:after {
				border-width: 10px;
			}
		}
	}
}
.MG-m-MainNavLink {
	color: @blue;
	display: inline-block;
	font-family: @displayfontstack;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5em;
	margin: 0 10px;
	padding: .5rem 0;
	text-decoration: none;
	text-transform: lowercase;
}
.MG-m-UtilityNav {
	font-weight: bold;
	margin-top: 2.5rem;
	padding-top: 1rem;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	a {
		display: inline-block;
		font-size: .9rem;
		line-height: .9rem;
		margin: 0 10px;
		padding: .5rem 0;
		position: relative;
		text-decoration: none;
		text-transform: lowercase;
		&:last-child {
			margin-right: 0;
		}
		&:after {
			border-bottom: 0 solid @nearwhite;
			bottom: -10px;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			.Transition(all, .2s);
		}
		&.MG-v-Active:after {
			border-bottom: 0 solid @blue;
			bottom: -10px;
			content: "";
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			.Transition(all, .2s);
		}
		&.MG-v-Active:after, &:hover:after {
			border-width: 10px;
		}
	}
}
.MG-m-MobileNav {
	background: rgba(255,255,255,.9);
	bottom: 0;
	left: -80%;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 80%;
	z-index: 4;
	.Transition(all, .2s);
	.VertPadding(2.5);
	.BoxSizing;
	&.MG-v-Active {
		left: 0;
	}
	ul {
		margin-left: 0;
		.HorizPadding;
	}
	li {
		display: block;
		margin: 0;
		padding: 0;
	}
	a {
		color: @blue;
		font-family: @displayfontstack;
		font-weight: bold;
		text-decoration: none;
		text-transform: lowercase;
	}

	@media screen and (max-width: @mobile-width) {
		left: -100%;
		text-align: center;
		width: 100%;
	}
}
.MG-m-MobileUtility {
	margin-bottom: .5rem;
	a {
		color: @accent;
	}
}
.MG-m-MobileMainNav {
	margin-bottom: .5rem;
}
.MG-m-CloseMobileMenu {
	display: block;
	height: 30px;
	left: 3.5vw;
	line-height: 40px;
	margin-bottom: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: -.4rem;
	width: 30px;
	&:before {
		background: @blue;
		border-radius: 1000px;
		content: "";
		height: 15%;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;
		.TransformOrigin(center center);
		.Transform(translate(-50%,-50%) rotate(45deg));
	}
	&:after {
		background: @blue;
		border-radius: 1000px;
		content: "";
		height: 15%;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;
		.TransformOrigin(center center);
		.Transform(translate(-50%,-50%) rotate(135deg));
	}

	@media screen and (max-width: @mobile-width) {
		display: inline-block;
		left: 0;
	}
}

@media screen and (max-width: @tabletLandscape-width) {
	.MG-m-Header {
		display: block;
	}
	.MG-m-MainNav, .MG-m-SecondaryNav {
		display: none;
	}
	.MG-m-SiteId {
		p {
			width: 11rem;
		}
	}
	.MG-m-MenuTrigger {
		display: block;
		float: left;
		margin-top: 1rem;
		.MG-m-Home & {
			float: none;
		}
	}
	.MG-m-SiteLogo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 160px;
	}
}

@media screen and (max-width: @mobile-width) {
	.MG-m-Header {
		text-align: center;
	}
	.MG-m-SiteId {
		p {
			width: auto;
		}
	}
	.MG-m-MenuTrigger {
		display: inline-block;
		float: none;
		margin-bottom: 1rem;
	}
}



//Footer
//-------------------------------------------------------------
.MG-m-Footer {
	background: @lightgrey;
	.HorizPadding;
	.VertPadding;
}
.MG-m-Copyright {
	color: @lightblue;
	margin-top: .8rem;
}
.MG-m-FooterNav {
	position: relative;
	.FlexBasis(68%);
	.FlexBox(center, center);
	a {
		color: @blue;
		display: block;
		font-size: .8rem;
		text-decoration: none;
	}
}
.MG-m-FooterNavColumn {
	.Flex(1);
	text-align: center;
}

@media screen and (max-width: @tabletLandscape-break) {
	.MG-m-FooterNav {
		.FlexBox(center, center, column);
	    .FlexBasis(60%);
	    a {
	    	display: inline-block;
	    	margin-right: .5rem;
	    }
	}
	.MG-m-FooterNavColumn {
		margin-bottom: 1rem;
		text-align: left;
	}
}
@media screen and (max-width: @tabletPortrait-break) {
	.MG-m-Footer {
		display: block;
	}
	.MG-m-FooterNav {
		overflow: hidden;
		padding-bottom: 45%;
	    a {
	    	display: block;
	    	margin-right: 0;
	    }
	}
	.MG-m-FooterNavColumn {
		text-align: center;
	}
}



//Layout Responsive Breaks
//-------------------------------------------------------------
@media screen and (max-width: @desktop-break) {
	.MG-l-LayoutConstraint {
	    max-width: (@desktopSmall-width - 50);
	}
}

@media screen and (max-width: @desktopSmall-break) {
	.MG-l-LayoutConstraint {
	    max-width: (@tabletLandscape-width - 50);
	}
}

@media screen and (max-width: @tabletLandscape-break) {
	/*.MG-l-LayoutConstraint {
	    max-width: (@tabletPortrait-width - 50);
	}*/	
}

@media screen and (max-width: @tabletPortrait-break) {
	/*.MG-l-LayoutConstraint {
	    max-width: (@mobile-width - 50);
	}*/
}

@media screen and (max-width: @mobile-break) {
}